*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-section {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),url(../hero.webp);
    object-fit:cover;
    padding: 5rem 0rem;
    background-position: center;
}